<div class="mainconten">




    <div class="main">
        <img src="https://picsum.photos/700/900/?random" alt="/">
        <h2><span>
                    В КИЕВЕ АРЕСТОВАЛИ 14 ЖИЛЫХ КОМПЛЕКСОВ СКАНДАЛЬНОГО ЗАСТРОЙЩИКА ВОЙЦЕХОВСКОГО
                </span>
        </h2>
    </div>
    <div class="minh2">
        <img src="https://picsum.photos/700/900/?random" alt="/">
        <h3 class ="min_main"><span>
                    В КИЕВЕ АРЕСТОВАЛИ 14 ЖИЛЫХ КОМПЛЕКСОВ СКАНДАЛЬНОГО ЗАСТРОЙЩИКА ВОЙЦЕХОВСКОГО
                </span>
        </h3>
    </div>
    <div>
        <img src="https://picsum.photos/700/900/?random" alt="/">
        <h3 class ="min_main"><span>
                    В КИЕВЕ АРЕСТОВАЛИ 14 ЖИЛЫХ КОМПЛЕКСОВ СКАНДАЛЬНОГО ЗАСТРОЙЩИКА ВОЙЦЕХОВСКОГО
                </span>
        </h3>
    </div>
    <div>
        <img src="https://picsum.photos/700/900/?random" alt="/">
        <h3 class ="min_main"><span>
                    В КИЕВЕ АРЕСТОВАЛИ 14 ЖИЛЫХ КОМПЛЕКСОВ СКАНДАЛЬНОГО ЗАСТРОЙЩИКА ВОЙЦЕХОВСКОГО
                </span>
        </h3>
    </div>
    <div>
        <img src="https://picsum.photos/700/900/?random" alt="/">
        <h3 class ="min_main"><span>
                    В КИЕВЕ АРЕСТОВАЛИ 14 ЖИЛЫХ КОМПЛЕКСОВ СКАНДАЛЬНОГО ЗАСТРОЙЩИКА ВОЙЦЕХОВСКОГО
                </span>
        </h3>
    </div>
    <div>
        <img src="https://picsum.photos/700/900/?random" alt="/">
        <h3 class ="min_main"><span>
                    В КИЕВЕ АРЕСТОВАЛИ 14 ЖИЛЫХ КОМПЛЕКСОВ СКАНДАЛЬНОГО ЗАСТРОЙЩИКА ВОЙЦЕХОВСКОГО
                </span>
        </h3>
    </div>
    <div>
        <img src="https://picsum.photos/700/900/?random" alt="/">
        <h3 class ="min_main"><span>
                    В КИЕВЕ АРЕСТОВАЛИ 14 ЖИЛЫХ КОМПЛЕКСОВ СКАНДАЛЬНОГО ЗАСТРОЙЩИКА ВОЙЦЕХОВСКОГО
                </span>
        </h3>
    </div>
    <div>
        <img src="https://picsum.photos/700/900/?random" alt="/">
        <h3 class ="min_main"><span>
                    В КИЕВЕ АРЕСТОВАЛИ 14 ЖИЛЫХ КОМПЛЕКСОВ СКАНДАЛЬНОГО ЗАСТРОЙЩИКА ВОЙЦЕХОВСКОГО
                </span>
        </h3>
    </div>


</div>