<header>
    <nav>

        <ul>
            <li><a href="index.html">Главная</a></li>
            <li><a href="#!">Категории</a></li>
            <li><a href="allnews.html">Все новости</a></li>


        </ul>
        <ul>

            <li>
                <form>
                    <input type="text" name="keyword" placeholder="Search">
                </form>
            </li>
            <li class="smallfont" id="enter-but"><a href="#!">Войти <i class="material-icons"> account_circle</i></a>
            </li>
        </ul>

    </nav>
</header>
<div class="block-modal" style="">
    <div class="modal">

        <h4>Вход</h4>
        <form>
            <div class="input-inline">
                <p>Email</p>
                <input type="email" name="email" placeholder="example@gmail.com">
            </div>
            <div class="input-inline">
                <p>Password</p>
                <input type="password" name="password">
            </div>
            <a class = "btn right">Войти</a>
        </form>
    </div>
</div>