@import header.sass
a
  text-decoration: none
  color: white
body
  display: flex
  flex-direction: column
  justify-content: center
  font-family: "FF DIN"
  padding: 0
  margin: 0 auto
  max-width: 1400px

.mainconten
  flex: 25%
  display: grid
  grid-template-columns: repeat(4, 2fr)
  grid-gap: 10px
  align-items: stretch

.mainconten img
  max-width: 100%
  min-height: 100%
  vertical-align: middle
.main
  grid-column: 1/4
  grid-row: 1/4
.mainconten div
  position: relative
h2
  position	: absolute
  top		: 0
  left		: 0
  width		: 100%


h2 span
  color			: white
  font			: bold 24px/45px Helvetica, Sans-Serif
  letter-spacing		: -1px
  background		: rgba(0, 0, 0, 0.7)
  padding			: 10px
  a
    color: white

.black

  a
    color: black
.black:hover
  background-color: gray
  transition: background-color 2s



#title
  align-self: center
.maincontent
  flex: 25%
  display: grid
  grid-template-columns: repeat(4, 2fr)

  grid-gap: 10px
  align-items: stretch

.maincontent img
  max-width: 100%
  min-height: 100%
  vertical-align: middle



.immage-news
  display: grid
  grid-column: 1/1
  img
    width: 100%