
a
  text-decoration: none
  color: white
body
  display: flex
  flex-direction: column
  justify-content: center
  font-family: "FF DIN"
  padding: 0
  margin: 0 auto
  max-width: 1400px

.mainconten
  grid-column: 1/12
  grid-row: 2
  flex: 25%
  display: grid
  grid-template-columns: repeat(4, 2fr)
  grid-gap: 10px
  align-items: stretch

.mainconten img
  width: 100%
  min-height: 100%
  vertical-align: middle
.main
  grid-column: 1/4
  grid-row: 1/4
.mainconten div
  position: relative
h2,.min_main
  position	: absolute
  top		: 0
  left		: 0
  width		: 100%


h2,.min_main span
  color			: white
  font			: bold 24px/45px Helvetica, Sans-Serif
  letter-spacing		: -1px
  background		: rgba(0, 0, 0, 0.7)

  a
    color: white
.min_main span
  font			: bold 20px Helvetica, Sans-Serif




#title
  align-self: center
.wrapper
  display: grid

  grid-gap: 20px